{{ partial "header.html" . }}

<main>
  <div class="articles">
    <h2 class="content-list-title">
      <a href="{{ .Permalink }}" class="linktopost">{{ .Title }}</a>
    </h2>
    {{ range (where .Site.Pages "Type" "post") }}

    <div class="content-list">
      {{ range .Data.Pages.GroupByDate "2006" }}
      <div class="content-list-date">{{ .Key }}</div>
      {{ range .Pages }}
      {{ .Render "li"}}
      {{ end }}
      {{ end }}
    </div>
    {{ end }}
  </div>

  {{ partial "sidebar.html" . }}
</main>

{{ partial "footer.html" . }}
