{{ partial "header.html" . }}

<div class="grid-x grid-padding-x">
  <div class="cell large-6 large-offset-2 small-12 medium-9">
    <article>
      <a href="{{ .Permalink }}" class="linktopost">{{ .Title }}</a>
    {{ range (where .Site.Pages "Type" "post") }}

    <div class="content-list">
      {{ range .Data.Pages.GroupByDate "2006" }}
      <h3>{{ .Key }}</h3>
      {{ range .Pages }}
      {{ .Render "li"}}
      {{ end }}
      {{ end }}
    </div>
    {{ end }}
  </article>
  </div>


  <div class="cell large-2 medium-2 sidebar">
    {{ partial "sidebar.html" . }}
  </div>
  </div>

  {{ partial "sidebar.html" . }}

{{ partial "footer.html" . }}
