<head>
  <meta charset="utf-8" />
  <meta name="author" content="{{ .Site.Params.author }}" />
  <meta name="description" content="{{ partial "page-description.html" . }}" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="canonical" href="{{ .Permalink }}" />
  <link rel="alternate" type="application/rss+xml" href="{{ "index.xml" | absURL }}" title="{{ .Site.Title }}" />
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  {{ partial "structured-data.html" . }}
  <link rel="stylesheet" type="text/css" href="/css/theme.css" />
  <link rel="stylesheet" type="text/css" href="/css/pygments2.css" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
</head>
