<!DOCTYPE html>
<html>

  {{ partial "head.html" . }}

  <body>
    <header>
      <div class="grid-x grid-padding-x">
        <div class="cell large-6 large-offset-2">
          <div class="blog-title">
            <a href="{{ .Site.BaseURL }}">
              <h1>
                <span class='blue-brace'>{</span>
                {{ .Site.Title }}
                <span class='blue-brace'>}</span>
              </h1>
            </a>
            <div class="blog-subtitle">
              <span class="heart">&lt;3</span> Ruby &amp; Go
            </div>
          </div> <!--siteTitle-->
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="cell large-8 large-offset-2">
          <ul class="menu">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <li>
              <a href="{{.URL}}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>

    </header>
