<div class="sidebar">
  <section>
    <h1>Projects & Software</h1>
    <ul>
      <li><a href="https://github.com/joshrendek/docker-conductor">Docker Conductor</a> is a docker orchestration tool.</li>
      <li><a href="http://sshpot.com/">sshpot.com</a> is a SSH honeypot service written in Go (both web service and client are open source).</li>
      <li><a href="http://ifcfg.net/">ifcfg.net</a> is a simple 'what is my IP' service with a few extra RESTful endpoints.</li>

      <li><a href="/projects/">View More</a>

      <li><a href="https://github.com/joshrendek?tab=repositories"><img src="/images/github.png" style='border: none;'> More on GitHub</a></li>
      <li><a href="https://rubygems.org/profiles/joshrendek">Gems @ RubyGems</a></li>
    </ul>
  </section>

  <section>
    <h1>Other Blogs</h1>
    <ul>
      <li><a href="http://tendermeatlove.com">Tender Meat Love</a> is my blog about cooking.</li>
      <li><a href="http://hydronerd.com">Hydro Nerd</a> is my blog about hydroponics and gardening.</li>
    </ul>
  </section>

  <section>
    <h1>Recent Posts</h1>
    <ul>
      {{ range first 5 (where .Site.Pages "Type" "post") }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </section>

</div>
