{{ partial "header.html" . }}

<div class="grid-x grid-padding-x">
  <div class="cell large-6 large-offset-2 small-12 medium-9 article-container">
    <h2 class="content-list-title">
      <a href="{{ .Permalink }}" class="linktopost">{{ .Title }}</a>
    </h2>

    <div class="content-list">
      {{ range .Data.Pages.GroupByDate "2006" }}
      <div class="content-list-date">{{ .Key }}</div>
      {{ range .Pages }}
      {{ .Render "li"}}
      {{ end }}
      {{ end }}
    </div>
  </div>
</div>


{{ partial "footer.html" . }}
